nav {
  display: flex;
  flex-direction: row;
  background-color: gray;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10vh;
  margin: 10vh;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.631);
}
select {
  padding: 10px;
  margin: 10px;
}
button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: green;
  cursor: pointer;
  font-weight: bold;
}
input {
  padding: 10px;
  margin: 10px;
}
.barraNav {
  background-color: gray;
  border: none;
}
.barraNav:hover {
  background-color: lightgrey;
  cursor: pointer;
}
h2 {
  background-color: lightgrey;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
